[2018-05-18 12:44] jma1991 opened #79 "Support for BSgenomeViews objects in matchPWM"
Would it be possible to add a method for BSgenomeViews objects in the matchPWM function? The manual says it can take ordinary Views objects, but I don't see any support for BSgenomeViews objects?

[2018-09-17 06:05] PeteHaitch opened #1 "Clarify documentation of 'exclude' slot in a BSParams"
The `exclude` slot in a *BSParams* is documented as:

From that, I thought `bsapply()` was treated it as a string literal. In fact, `bsapply()` treats it as a regular expression:

https://github.com/Bioconductor/BSgenome/blob/3d109889dc90277ed85b15fc4fa7a4668c0974a1/R/bsapply.R#L78

l ended up spending a fair bit of time banging my head up against this in the example below.

The examples on `?bsap

[2019-05-28 15:59] hpages opened #2 "Feature request: BSgenomeViews objects accept GPos objects in their 'granges' slot"
Even though the `BSgenomeViews()` constructor accepts a GPos object:
[code]
the supplied GPos object is stored in the BSgenomeViews object as a GRanges instance:
[code]
This unnecessary blows the size of the object so should be avoided.

[code]

[2019-05-28 17:11] hpages opened #3 "Feature request: user-level BSgenome() constructor"
The BSgenome package provides no user-level `BSgenome()` constructor at the moment. It could be useful to have one to create small toy BSgenome objects in unit tests. It could be implemented along the lines of:
[code]
Then:
[code]

[2019-11-06 21:36] bigguscodus opened #4 "Failed to install"
I have a problem with installation BSgenome. What am i supposed to do ? Here is the log:

Bioconductor version 3.10 (BiocManager 1.30.9), R 3.6.1 (2019-07-05)
Installing package(s) 'BSgenome'
also installing the dependencies ‘SummarizedExperiment’, ‘RCurl’, ‘XML’, ‘GenomicAlignments’, ‘Rhtslib’, ‘GenomeInfoDb’, ‘GenomicRanges’, ‘rtracklayer’, ‘Rsamtools’

trying URL 'https://bioconductor.org/packa

[2019-11-06 22:44] hpages commented on #4
This does not look like a BSgenome issue. As you can see, many packages couldn't be installed, not just BSgenome. The fact that BSgenome failed to install is just the consequence of other packages required (directly or indirectly) by BSgenome failing to install.

At the root of the problem, it seems that installation of CRAN packages RCurl and XML failed, thus preventing many Bioconductor packages

[2019-11-09 10:01] bigguscodus commented on #4
Thank you!

[2019-11-12 04:52] hpages commented on #4
I hope you were able to sort this out. Closing this now.

[2019-11-12 04:52] #4 closed, assigned to nobody

[2019-11-24 15:15] csoneson opened #5 "Disagreement between sequences and names for `getSeq,XStringSet`"
Hi,
apologies if I have misunderstood something crucial, but it seems to me that the matching between sequences and sequence names is off when using `getSeq` with a `DNAStringSet` object, if the ranges in `names` are not sorted by chromosome (in increasing order by `levels(seqnames(names))`). A small example:

[code]

I suspect it's happening here: https://github.com/Bioconductor/BSgenome/blob/972

[2019-11-26 19:31] hpages commented on #5
Thanks Charlotte.

@lawremi Michael, can you please look into this? Thanks!

[2019-12-02 01:52] hyBio opened #6 "Add New Genome!"
Hi,
Can you add this genome file to your DB?And we will library it conveniently!
UCSC Genome Browser assembly ID: bosTau9
Thanks.

[2019-12-12 17:45] hpages commented on #6
Please see https://support.bioconductor.org/p/126958/ for new BSgenome data packages announced recently (including bosTau9).

[2019-12-12 17:45] #6 closed, assigned to nobody

[2019-12-13 02:09] hyBio commented on #6
Thanks so much for your nice work!

[2020-01-10 17:06] hpoisner opened #7 "GRCh37"
Hi is it possible to add GRCh37 as a genome build to BSgenome and/or a good way to use the hg19 build with GRCh37 data.

[2020-01-10 17:10] #7 closed, assigned to nobody

[2020-03-19 07:37] hpages commented on #1
This is clarified in BSgenome 1.55.4 (see commit 9783e421). Sorry for letting this sit in a corner for so long.

[2020-03-19 07:37] #1 closed, assigned to nobody

[2020-04-08 14:52] jdblischak commented on #4
Both RCurl

[code]

and Rhtslib

[code]

failed to install because the libcurl development files aren't available. This can be fixed on Debian/Ubuntu by running the following:

[code]

[2020-04-08 18:25] hpages commented on #4
Please don't post in a closed issue, especially if your post has nothing to do with BSgenome. Thx!

[2020-06-30 23:20] joseverdezoto opened #9 "Issue with BSgenome installation"
Hello,

I'm having issues with the installation of the BSgenome package that I had not experienced before. I was hoping to get your input on this issue. When trying to install the package, I get the following error:
[code]

Below my session Info:
[code]

[2020-06-30 23:33] mtmorgan commented on #9
Are your packages consistent with the Bioconductor version you are trying to use?
[code]

[2020-07-01 01:40] hpages commented on #9
Hi @joseverdezoto ,

This is a regression I introduced recently while working on improvements to the `seqlevelsStyle()` setter, sorry. It should be fixed in the latest version of GenomeInfoDb (version 1.25.6, see https://github.com/Bioconductor/GenomeInfoDb/commit/0a1cf2ec6abbaa1c8368005a57f4c92c80a4d5f9) and BSgenome (version 1.57.3, see commit b5c3f3aedf7973ba0968259efb842a40e55cbdc7). Both pack

[2020-07-01 15:00] joseverdezoto commented on #9
Dear @hpages,

Thank you so much for the pointer. I was able to successfully install both packages.

[2020-07-01 15:00] #9 closed, assigned to nobody

[2020-07-20 17:34] BingbingYuan opened #10 "create masked BSgenome with RM only"
I was able to create the first package on bare sequences. Thanks for the well documented instruction!
I have a problem when creating a masked package with RepeatMasker fa.out file.  I got the error (below) when running forgeMaskedBSgenomeDataPkg, which suggested missing gap files (related to AGAPS masks).  How could I tell the program to create a package only based on TM? Did I miss a parameter to

[2020-07-23 16:42] hpages commented on #10
Hi Bingbing,

Unfortunately, the AGAPS and AMB masks are mandatory, sorry.

I've never had a user trying to forge a _masked_ BSgenome package before so the documentation for that section in the vignette hasn't received as much attention as the section for BSgenome packages with bare sequences.

So in your case, you're going to have 3 masks per sequence: AGAPS, AMB, and RM.

This means you need to

[2020-07-24 03:02] BingbingYuan commented on #10
Hi Hervé,
Thanks for your reply!
I was able to create .agp files with FASTA2AGP downloaded from https://gitlab.pasteur.fr/GIPhy/FASTA2AGP.

With nmask_per_seq=3, the forgeMaskedBSgenomeDataPkg exited with the error below:
Error in scan(file = file, what = what, sep = sep, quote = quote, dec = dec,  :
  line 290 did not have 15 elements
In addition: Warning message:
In .newEmptyMask(seqname, mask.w

[2020-08-03 12:08] tamaraprieto opened #11 "forge BSgenome data package from unpublished genome"
Thanks for the vignette on how to forge a BSgenome data package!It is so useful. I would like to create a package for a still unpublished genome I have access to, and I was wondering if it is possible to do it with missing fields as `source_url` or `release_date` for instance. I had already created the twoBit file and a seed file without some fields and I am getting the following error (it seems h

[2020-08-04 02:20] hpages commented on #11
Hi,

This error seems to indicate that your seed file is lacking the `Version` field.

Can't remember whether the `source_url` or `release_date` fields are mandatory or not. However these fields are informative only and not used for anything so you can always try to set them to `NA` or something like that.

H.

[2020-08-04 07:16] tamaraprieto commented on #11
Thank you!I did not realize I was missing `Version`. I was able to build the package by setting the missing fields to `pending`

[2020-08-04 07:16] #11 closed, assigned to nobody

[2020-10-20 19:06] mullerbsf opened #12 "Load a genome - Chlamydomonas reinhardtii v5 genome"
Dear,

I am trying to run the MutationalPatterns and load the Chlamydomonas reinhardtii v5 genome using BSgenome. However, it is not available in the BSgenome library.

I tried to install and load a new genome there. But I had some issues and I was not able to figure it out quickly. Could you please help me with that? How can I load a new genome using the FASTA file? If possible, could you please

[2020-10-27 20:33] mullerbsf commented on #12
Dear @hpages

Could you please help me with the request above?

Thank you!
Barbara.

[2020-11-04 17:09] vjcitn opened #13 "should matchPattern propagate subject genome?"
[code]
I think it makes sense to propagate the genome and perhaps the seqinfo.

[2020-11-16 18:49] mullerbsf commented on #12
Dear @LiNk-NY,

I opened this request almost 30 days ago. Could you please direct someone who could help with this?

Thank you!
Barbara.

[2020-11-16 19:20] hpages commented on #12
Hi @mullerbsf ,

Sorry for missing this. I can try to make that BSgenome package for you. Is it OK if I use this assembly instead? https://www.ncbi.nlm.nih.gov/assembly/GCA_000002595.3

I don't seem to have access to the `Creinhardtii_281_v5.0.fa` file at the link you provided above. The assembly available at NCBI is v5.5 so seems a little bit more recent than `Creinhardtii_281_v5.0.fa`.

H.

[2020-11-16 19:30] mullerbsf commented on #12
Dear @hpages,

I need to verify if this is the same that I used to generate all my VCF files. On Phytozome, you should be able to download, but it just required a login first, then go to "bulk data".

I would prefer it if I can send my FASTA file (Creinhardtii_281_v5.0_mod_VCF.fa) to you because I renamed the chromosomes provided from the original (Creinhardtii_281_v5.0.fa) Phytozome.
How can I tr

[2020-11-16 19:54] mullerbsf commented on #12
Dear @hpages  ,

I would prefere if I can send my fasta file (Creinhardtii_281_v5.0_mod_VCF.fa) to you, because I renamed the chromosomes provided from the original (Creinhardtii_281_v5.0.fa) Phytozome.
How can I transfer my file to you? It has only 31.6 Mb the .gz file.

Thanks!
Barbara.

[2020-11-16 20:20] LiNk-NY commented on #12
Hi Barbara, @mullerbsf

We'd prefer to use data from a public resource such as the one Hervé linked to make sure that it is openly available.
Are there any restrictions on the redistribution of the 5.0 file?
Thanks.

[2020-11-16 20:28] mullerbsf commented on #12
Dear @hpages and @LiNk-NY,

Are you able to download the version v5.6 of Phytozome? It is public and free, but JGI just requires login first.
Then, you will be able to download the file: Creinhardtii_281_v5.0.fa.gz under v.5.6 assembly.

Let me know if you will be able to make it available in the BSgenome.

Thank you very much for it.
Barbara.

[2020-11-16 21:11] hpages commented on #12
I was able to download `Creinhardtii_281_v5.0.fa.gz` under v.5.6 assembly. I'm looking at the file now, comparing it with the assembly at NCBI.

[2020-11-16 21:44] hpages commented on #12
It was brought to my attention that it's not clear that the licence for this file is actually compatible with the redistribution as a publicly available BSgenome package. So I'm investigating 2 alternate solutions:
1. Based on my preliminary comparison of `Creinhardtii_281_v5.0.fa.gz` with the assembly publicly available at NCBI, it seems that the differences between the 2 assemblies are minor e.g

[2020-11-16 21:55] mullerbsf commented on #12
The assembly on Phytozome is public. It is just a JGI database for plants:

"The data on the next page is public, please cite the following:
Merchant SS, Prochnik SE, et al., The Chlamydomonas genome reveals the evolution of key animal and plant functions., Science (New York, N.Y.). 2007 Oct 12; 318 5848 245-50"

I believe it does not exist a problem in using the Creinhardtii_281_v5.0.fa.gz file.

[2020-11-16 22:42] LiNk-NY commented on #13
Thanks Vince, @vjcitn!
We'll wait for Hervé's @hpages feedback on the PR.

[2020-11-17 04:35] hpages commented on #12
Barbara,

**BSgenome.Creinhardtii.JGI.v5.6** will become available via `BiocManager::install()` in the next couple hours. After you install and load the package, see `citation("BSgenome.Creinhardtii.JGI.v5.6")` for how to cite the data.

Cheers,
H.

[2020-11-18 12:36] lshep commented on #12
I can confirm this is now available with `BiocManager::install("BSgenome.Creinhardtii.JGI.v5.6")` .

[2020-11-18 12:36] #12 closed, assigned to nobody

[2020-11-18 20:18] mullerbsf commented on #12
Does it do not work for R 4.0?

Bioconductor version 3.11 (BiocManager 1.30.10), R 4.0.0 (2020-04-24)
Installing package(s) 'BSgenome.Creinhardtii.JGI.v5.6'
Warning message:
package ‘BSgenome.Creinhardtii.JGI.v5.6’ is not available (for R version 4.0.0)

[2020-11-18 20:31] lshep commented on #12
We do not update old versions of Bioconductor.  Release 3.11 is frozen.  You should update to use Bioconductor 3.12 and it will be available.  Bioconductor 3.12 also works with R 4.0.

[2020-11-18 20:46] LiNk-NY commented on #12
This worked for me on Bioconductor 3.12. Thanks!

[code]

[2020-11-18 20:56] mullerbsf commented on #12
It worked for me too on Bioconductor 3.12.

I really appreciate all the help here!

Best regards,
Barbara.

[2020-11-30 22:34] max1c opened #15 "What is the latest version?"
Bioconductor.org says that 1.58.0 is the latest version of the package: https://bioconductor.org/packages/release/bioc/html/BSgenome.html

However, when I run BiocManager::install("BSgenome") I get the 1.56.0. Any help with this?

[2020-11-30 22:56] hpages commented on #15
Maybe that's because you're running an old Bioconductor version. What's your `sessionInfo()`?

Latest BSgenome (1.58.0) is intended for latest Bioconductor release (BioC 3.12), which requires R 4.0.

[2020-12-01 01:13] max1c commented on #15
You are correct, Updating biocmanger to the latest version fixed the problem. Thanks!

[2020-12-01 01:13] #15 closed, assigned to nobody

[2020-12-04 18:27] #13 closed, assigned to nobody

[2020-12-08 09:59] hpages commented on #10
Hi Bingbing,

Sorry it's been a long time since your post above. `forgeMaskedBSgenomeDataPkg()` uses `IRanges::read.agpMask()` internally to parse the `.agp` files and it seems that the function didn't like some of the files produced by FASTA2AGP. Unfortunately, without having access to these files it's impossible for me to tell what went wrong exactly. If you'd like me to take a look please make

[2020-12-08 20:51] BingbingYuan commented on #10
Hi Hervé,
I was able to build a masked BGgenome with agp created with FASTA2AGP. When
I checked the package with "R CMD check", I only got one warning message
related to "LaTeX errors when creating PDF version", no warning/error
message related to agp. You mentioned that forgeMaskedBSgenomeDataPkg
didn't like some files produced by FASTAAGP. What error message did you
see?  I replied to this email

[2020-12-08 21:17] hpages commented on #10
This is only based on the error you reported in your earlier comment (from Jul 23). I don't see this error myself when I run  `IRanges::read.agpMask()` on the `.agp` files that I have access to. As I said I could try to take a closer look but for this I would need to be able to reproduce the error that you got, and for this I would need access to the `.agp` file that caused problems for you (`dd_S

[2020-12-08 22:20] BingbingYuan commented on #10
Thanks for the quick response!
That error message occurred only when set "nmask_per_seq" to *3*. If I used
"nmask_per_seq" to *2*, forgeMaskedBSgenomeDataPkg ran well without any
error.
Since the vignettes says "You don’t need any file for the AMB masks.", I
assume that the nmask_per_seq is 2 ( I have .agp and repeat masked files).
Does this make sense to you?
Thanks,

On Tue, Dec 8, 2020 at 4:18

[2020-12-08 23:24] hpages commented on #10
I don't know. But if you're saying that everything worked as expected and that there's no need for me to try to troubleshoot the problems you got when setting `nmask_per_seq` to 3 then we should just close this issue.

H.

[2020-12-08 23:24] #10 closed, assigned to nobody

[2021-01-07 19:54] alutservitz opened #16 "Forging BSgenome that is not registered"
Hi! I think I may be missing something basic when forging a BSgenome that is not registered with NCBI.

Here is the error I receive:
[code]

Here is my seed file:
[code]

When I include 'circ_seqs: character(0)' in my seed file the error goes away and it will run (very quickly),
[code]
but it doesn't appear to build correctly. Am I doing something wrong in my seed file, or do you see any other mis

[2021-01-27 00:32] wmdai988 commented on #16
I met the same problem as yours. Do you find the solution? Thanks!

[2021-02-01 23:06] alutservitz commented on #16
@dmaibao yes I did! Looks like you need to include 'circ_seqs: character(0)' if using a .2bit file. My issue was that I was running the build command in the wrong place (silly mistake). Were you able to to find a solution? If not, I'd be happy to help.

[2021-02-01 23:08] #16 closed, assigned to nobody

[2021-02-04 22:35] hpages commented on #16
Sorry for missing this.

A few comments:

1. The Callithrix_jacchus_cj1700_1.1 assembly includes the MT sequence which is circular.

2. I've registered Callithrix_jacchus_cj1700_1.1 (as well as a few additional Callithrix jacchus NCBI assemblies) in the latest **GenomeInfoDb** (version 1.26.3, it will become available via `BiocManager::install()` in the next 48 hours). With this new version you ca

[2021-03-25 16:26] hpages commented on #5
@lawremi Michael, this is your work. Do you think you can take care of it? Thanks

[2021-03-25 20:11] lawremi commented on #5
Thanks, looks like I missed the initial ping.

[2021-03-26 10:06] Roleren opened #17 "inconsistent getSeq and isCircular behavior"
Hey,

Referencing discussion on bioconductor [support page](https://support.bioconductor.org/p/9135647/#9135912)

So to conclude what is missing are 2 things:

1. Make sure isCircular works properly for DNAStringSet, as now the isCircular flag is only updated in the metadata and not shown correctly when using isCircular(DNAStringSet) getter.
2. Make sure getSeq for BSGenome and DNAStringSet both s

[2021-03-27 02:12] LiNk-NY commented on #17
Hi Hervé @hpages, did you want to look at this? Thank you!
**Update**: Thanks for looking at this Hervé. From your response, it looks like a complicated interaction between several packages. We should layout how we can proceed with making these methods work in harmony.

[2021-04-06 09:56] Roleren commented on #17
So first easy thing we could fix is to make the seqinfo getter to actually use the seqinfo table of the DNAStringSet object, you agree ?

This is easily done by updating the seqinfo(DNAStringSet), to not remake the object, but instead use:
metadata(x), if it is defined:

[code]

So logic will be, check if metadata() does not return empty list, if it does recreate seqinfo object as before, if it is

[2021-05-04 14:38] #5 closed, assigned to nobody

[2021-07-30 00:08] zrcjessica opened #18 "Errors creating BSgenome for rn7"
Hello,

I need to create a new BSgenome package for rn7 and I have created the following seed file:

[code]

However, I get the following error:
[code]
I saw someone else report this in #16 , and someone said they fixed it by adding `circ_seqs: character(0)` when using a 2bit file. However, when I add `circ_seqs: character(0)` to my seed file I get this error:
[code]

Can anyone help me resolve th

[2021-08-25 00:12] hpages commented on #18
Hi @zrcjessica ,

I've registered the rn7 genome in **GenomeInfoDb** 1.28.2 (BioC 3.13) and 1.29.4 (BioC 3.14). These new versions will become available via `BiocManager::install()` in the next 48h.

Note that I'm also in the process of forging and adding **BSgenome.Rnorvegicus.UCSC.rn7** to Bioconductor. I'll report here when this is ready.

Best,
H.

[2021-08-25 04:32] hpages commented on #18
**BSgenome.Rnorvegicus.UCSC.rn7** is now in Bioconductor. Will become available via `BiocManager::install()` in the next 3h.

[2021-08-25 04:32] #18 closed, assigned to nobody

[2021-08-25 17:56] LiNk-NY commented on #18
Hi Hervé,

It would be good to have / localize the script that you used to generate the package
so that community members (myself included) can learn from you and successfully
build the package next time.

Thanks so much!

Best,
Marcel

[2021-08-26 07:25] hpages commented on #18
No script. Just preparing a seed file for rn7 like @zrcjessica did (I included the new seed file in the **BSgenome** package in `inst/extdata/GentlemanLab/`) and running `forgeBSgenomeDataPkg()` on it. The process is documented in the BSgenomeForge vignette.

But first rn7 needed to be registered in **GenomeInfoDb** which is why it was not working for @zrcjessica. So maybe your question Marcel is

[2021-09-08 19:23] Ellauyz opened #19 "New BSgenome - Mycobacterium tuberculosis"
Good afternoon everyone

I am trying to run the BBCAnalyzer package in order to analyze data derived from whole genome sequencing of _Mycobacterium tuberculosis_ (https://www.bioconductor.org/packages/release/bioc/html/BBCAnalyzer.html). This package requires a BSGenome object defining the reference genome used for comparisons.

I couldn't find a BSgenome package for _M. tuberculosis_, so I looked

[2021-09-08 20:58] LiNk-NY commented on #19
Hi Ellauyz, @Ellauyz
Thank you for the request. Hervé @hpages knows if we can support this organism.
For the time being, I have produced the script that would be required to forge the package.

[code]

[2021-09-08 22:21] Ellauyz commented on #19
Thank you so much Marcel @LiNk-NY for the answer!

I tried to run the script provided, and ran into some issues. I've solved some of them, but for now I can't get the _forgeBSgenomeDataPkg_ to work.

- Downloading the file through the script works, but when I run _untar(testfile)_, the console shows a succession of error
`> untar(testfile)
tar.exe: Damaged tar archive
tar.exe: Retrying...
tar.exe:

[2021-09-09 19:00] hpages commented on #19
@Ellauyz I think there is a misunderstanding about the expectations. We do not forge every single BSgenome data package that people need. There's a vignette that explains how to do this ("How to forge a BSgenome data package", it's in the **BSgenome** package) in case you need a BSgenome data package that is not available in Bioconductor. Please consult the vignette and ask a specific question in

[2021-09-15 02:38] santataRU opened #20 "forge custom BSgenome error: not a registered NCBI assembly or UCSC genome"
Dear BSgenome developer,

I have one error during my forge of custom BSgenome package, my seed file is below:

**Package: BSgenome.NL43.Xiao.NL43_CLIP
Title: Full genome sequences for NL43
Description: NL43
Version: 1.0.0
organism: HIV
common_name:HIV
provider: Xiao
genome:NL43
release_date: Sep. 2021
source_url:/Users/xiaolei/Desktop/seqs_srcdir/NL43.2bit
organism_biocview: NL43
BSgenomeObjname:

[2021-09-15 17:47] hpages commented on #20
You can put whatever name you want in the `genome` field. It's just that if the genome is registered in **GenomeInfoDb**, then you don't need to specify the `seqnames` field because, in this case, `forgeBSgenomeDataPkg()` will be able to fetch the sequence names for you. However if the genome is _not_ registered, then you _must_ specify the `seqnames` field.

So the process of forging a BSgenome d

[2021-09-15 18:27] santataRU commented on #20
Thanks Hervé. I can build the BSgenome package without problem, but I have an error after I check the package with `R CMD check <tarball>`. The error message is below:

**using log directory ‘/Users/bieniaszlab/Desktop/seqs_srcdir/BSgenome.NL43.Xiao.NL43CLIP/BSgenome.NL43.Xiao.NL43CLIP.Rcheck’
* using R version 4.0.2 (2020-06-22)
* using platform: x86_64-apple-darwin13.4.0 (64-bit)
* using session

[2021-09-15 18:47] LiNk-NY commented on #20
Hi Xiao, @santataRU
Make sure that `BiocManager::valid()` returns TRUE.
Bioc-devel is currently using R version 4.1.
Best,
Marcel

[2021-09-16 19:23] LiNk-NY commented on #20
Should the error message say that the `seqnames` must be specified?

[2021-09-16 19:28] santataRU commented on #20
Hi, Marcel,

Thanks for your help. I actually did not include "seqnames", instead, I include "circ_seqs: character(0)" in my seed file. The seed file works well.

Best,
Xiao

[2021-09-17 00:45] santataRU commented on #20
Dear BSgenome developers,

Although I can forge the BSgeome (RREWT_CLIP), install and load in Rstudio without a problem. I have the following error during my run of wavClusteR:

require(BSgenome.NL43.Xiao.RREWT)

wavclusters <- filterClusters( clusters = clusters,
                               highConfSub = highConfSub,
                               coverage = coverage,

[2021-09-18 00:39] LiNk-NY commented on #20
Hi Xiao, @santataRU

Please file an issue for the `wavClusteR` package or go to the https://support.bioconductor.org/ and ask for help there from the maintainers.

Be sure to provide an entirely reproducible example.
See here for more details: https://stackoverflow.com/questions/5963269/how-to-make-a-great-r-reproducible-example

Best,
Marcel

[2021-09-18 00:39] #20 closed, assigned to nobody

[2021-09-18 00:53] santataRU commented on #20
Hi, Marcel,

Thank you. I already contacted the author of wavClusteR. I am waiting for his reply.

Best,

Xiao

[2021-09-18 03:27] hpages commented on #20
hmm... something does not look right with your **BSgenome.NL43.Xiao.RREWT** package. What do you get when you do:
[code]
Also can you manually load some of the sequences listed in the output produced by the above?

[2021-09-18 09:08] santataRU commented on #20
Dear Hervé,

Thank you very much for your help. I pasted below the output:

RREWT_CLIP genome:
#organism: HIV (RREWT_CLIP)
#genome: RREWT_CLIP
#provider: Xiao
#release date: Sep. 2021
#1 sequences:
#RREWT_CLIP
#(use 'seqnames()' to see all the sequence names, use the '$' or '[[' operator to access a given sequence)

Seqinfo object with 1 sequence from RREWT_CLIP genome:
  seqnames   seqlengths isC

[2021-09-18 16:26] santataRU commented on #20
Dear Hervé,

I modified my seed file (attached to the end). Make sure part 2 of the package name matched to BSgenomeObjname and the sequence name of my fasta file (RREWTCLIP). I indexed the fasta file and aligned this genome with reads with Bowtie alignment tool. wavClusteR could read my BSgenome this time, but still output an error (error solving row 1: the supplied start/end lead to a negative w

[2021-09-20 03:26] hpages commented on #20
`seqnames()` is an accessor function to extract the sequence names from the BSgenome object. You need to call it on the object:
[code]
Then try this:
[code]
This should return the `RREWT_CLIP` sequence in a DNAString object.

Does it work?

H.

[2021-09-20 13:00] santataRU commented on #20
Thanks for your help. I can get a partial sequence from `getSeq(RREWTCLIP, end=10)`, but I got an error if I tried to retrieve full sequences from `BSgenome.RREWTCLIP.Xiao.NL43[["RRREWTCLIP"]]` (by the way I forged a BSgenome with seqnames of "RREWTCLIP").

Below are my results:

[code]
[1] "RREWTCLIP"

`BSgenome.RREWTCLIP.Xiao.NL43[["RRREWTCLIP"]]`

**Error in BSgenome.RREWTCLIP.Xiao.NL43[["RRREW

[2021-09-21 14:40] monovich opened #21 "[Question] Create new mask without BSgenomeForge?"
Hi there. I've read through the documentation about how one would add a new mask to a new BSgenome created through BSgenomeForge, but for my current analysis using BSgenome.Hsapiens.UCSC.hg38.masked, I only need to mask a relatively small number of sequences/ranges across the genome not currently covered by the existing built-in masks. Is there a simple way to add a new mask on top of an existing

[2021-09-23 21:37] hpages commented on #20
That's because the name of the sequence is `RREWTCLIP` (only 2 `R`'s), not `RRREWTCLIP`.

[2021-09-23 21:41] hpages commented on #19
@Ellauyz Were you able to forge **BSgenome.Mtuberculosis.NCBI.ASM19595v2**? I'll close this issue next week if I don't hear back from you.

[2021-09-24 01:31] santataRU commented on #20
Dear Hervé,
I see. Thank you very much!

[2021-09-24 20:20] Ellauyz commented on #19
No, I haven't been found a way to solve the seqname issues. I appreciate the help received, it definitively helped getting me started on how to do it myself! You can close this issue and I will work on this on my end. Thank you! Ellauyz

[2021-09-28 19:00] hpages commented on #19
Good luck. Don't hesitate to reopen or to create a new issue if you need more help with this.

Alternatively, you can ask help on the Bioconductor support site:  https://support.bioconductor.org/

H.

[2021-09-28 19:00] #19 closed, assigned to nobody

[2021-11-17 13:28] gevro opened #22 "New CHM13 genome"
Hi,
Is it possible to create BSgenome packages for the new telomere to telomere human genomes?
https://github.com/marbl/CHM13
 - v1.0
 - v1.1

[2021-11-17 13:52] gevro commented on #22
Note, that I cannot forge it myself, because I get this error:
[code]

Here is my seed file:
[code]

[2021-11-17 14:39] gevro opened #23 "Error: values for symbols PKGVERSION are not single strings"
Hi, I'm getting this error:
[code]

Seed file:
[code]

[2021-11-17 14:58] vjcitn commented on #22
Thanks for this report.  There will need to be a bit of work in GenomeInfoDb to get this functionality set up.  Please be patient.  I hope we can turn this around quickly.

[2021-11-17 16:58] hpages commented on #22
Is this an NCBI or UCSC genome? Only NCBI or UCSC genomes can be "registered" in **GenomeInfoDb**. Having the genome registered means that **GenomeInfoDb** "knows" the names of the sequences and their circularity flags. So in that case you don't need to specify the `seqnames` and `circ_seqs` fields in your seed file. But when the genome is _not_ registered, you need to specify the 2 fields.

[2021-11-17 17:03] gevro commented on #22
Ok. However, I tried that and then I'm getting another error: issue #23

[2021-11-17 17:38] gevro commented on #23
I think I found the problem, I'm missing the 'Version' field.

[2021-11-17 17:38] #23 closed, assigned to nobody

[2021-11-17 17:41] hpages commented on #23
Yes, 2 problems:
1. `Version` is a mandatory field.
2. `circ_seqs` should be `character(0)`, not `""`. The latter means that there is one circular sequence and that its name is the empty string.

Please refer to the BSgenomeForge.Rnw vignette and make sure to carefully follow the instructions.

Thanks!

[2021-11-17 17:42] #22 closed, assigned to nobody

[2021-11-17 23:44] gevro opened #24 "checking DESCRIPTION meta-information ... ERROR"
Hi,
After doing forgeBSgenomeDataPkg("BSgenome.Hsapiens.T2T.CHM13v1-seed") successfully, I then did R CMD build, but getting this error. This is likely a bug in BSgenome, because if it passed the forge step, this should work.
[code]

Seed file:
[code]

[2021-11-17 23:56] gevro commented on #24
I found the issue. The Maintainer field requires
```<e-mail address>```

[2021-11-17 23:56] #24 closed, assigned to nobody

[2021-11-23 19:54] hpages commented on #21
Hi,

You can put your own masks on any DNAString object, anytime. Use the masks setter (`masks<-`) for that. See `?masks` in the **Biostrings** package for more information and some toy examples.

Here is a more realistic example. Let's say you want to mask the inter-gene regions on Human chromosome 1:
[code]

Extract gene and inter-gene regions:
[code]

Let's create our mask of inter-gene regions

[2021-11-23 20:09] hpages commented on #21
BTW I only realize now that you opened this issue on Sept 21. Sorry that it took so long to answer (I completely missed it).

Note that this kind of question is better asked on our support site: https://support.bioconductor.org/ It has a lot more chances to be seen and answered there. Thanks!

Cheers,
H.

[2021-12-27 15:14] ghost opened #25 "New BSgenome - C3H/HeJ Mus musculus"
Dear,

I am trying to run the MutationalPatterns and load the C3H/HeJ Mus musculus genome using BSgenome. However, it is not available in the BSgenome library. The genome is available through the [link](http://ftp.ensembl.org/pub/release-105/fasta/mus_musculus_c3hhej/dna/).

I am getting the following error, when I try to integrate in myself as it is said in the the following [tutorial](https://bi

[2021-12-30 06:12] hpages commented on #25
Please show the command you ran that produced this error and also share any other information that would allow me to reproduce the error like the exact file you downloaded and your seed file. Thanks!

[2021-12-30 09:00] ghost commented on #25
Thank you for a fast response:

the genome represents merged fasta files from here - http://ftp.ensembl.org/pub/release-105/fasta/mus_musculus_c3hhej/dna/. I merged them with cat command.

I couldn't load the file, though I was sure its in that folder I expect it to be I tried to use absolute path to the file but it did not work.
[code]

[2021-12-30 16:39] hpages commented on #25
Why are you using `system.file()` to access the file? The name of the function is not intuitive but `system.file()` is for accessing files that belong to a package. More precisely it is for files located in the installation folder of a package. I'm pretty sure this is not the case for `Mus_musculus_c3hhej.C3H_HeJ_v1.dna.fa.gz`.

In addition to having a bad name, the function also has a terrible fe

[2021-12-31 08:35] #25 closed, assigned to nobody

[2022-01-27 20:08] AO-M-Lima opened #26 "Gallus gallus bGalGal1.mat.broiler.GRCg7b"
Hi there,
I am working with the new version of the chicken NCBI genome: https://www.ncbi.nlm.nih.gov/genome/?term=chicken. It is not yet available for a BSgenome object (the last version is for GRCg6a).
Is it possible to include on the database the new version ( Gallus gallus bGalGal1.mat.broiler.GRCg7b) as a genome build to BSgenome?  Thanks

[2022-01-27 20:37] hpages commented on #26
Hi @AO-M-Lima ,

We try to keep up with new UCSC genomes, not so much with new assemblies at NCBI. The latest UCSC genome for Chicken is still `galGal6`, which is based on the `GRCg6a` assembly (`GCF_000002315.5`) available at NCBI.

I don't know about `bGalGal1.mat.broiler.GRCg7b` (`GCA_016699485.1`). Is this the assembly that the UCSC folks have chosen to base their next Chicken genome (presumab

[2022-01-27 21:56] AO-M-Lima commented on #26
Hi,
Thanks for your quick reply.
Yes, I believe that the UCSC also is working on this new version. It must
be the galGal7. The Ensembl and UCSC usually make the latest genome version
available after NCBI makes it.
I am working with WGBS sequencing and mapping with
bGalGal1.mat.broiler.GRCg7b and now I have problems using the MethylSeekR (
https://bioconductor.org/packages/release/bioc/html/MethylS

[2022-01-28 06:25] hpages commented on #26
Chicken assembly `bGalGal1.mat.broiler.GRCg7b` now registered in **GenomeInfoDb**:
[code]
This is with **GenomeInfoDb** 1.30.1 (in BioC 3.14, the current BioC release) and 1.31.3 (in BioC devel). Both versions should become available via `BiocManager::install()` in the next couple of days.

I don't know where you got your `gal7.fasta` file from (I suggest that you clarify this by adding the `SrcDa

[2022-03-02 23:09] stevenjblair opened #27 "Can I forge an unregistered NCBI? (Am I doing this right?)"
EDIT:  I noticed this morning in the closed issues that this has already been asked and all I need is to put seqnames into the seedfile.  Now I have another error! haha, but this one I think is just a syntax error on my part.

Hello,
From reading on biostars, github, other sources, I think I understand now that the assembly needs to be registered.  I have also read that it is best to convert the f

[2022-03-03 20:35] #27 closed, assigned to nobody

[2022-03-04 17:06] stevenjblair opened #28 "Is there any way to circumvent the need for 2bit?"
Hello again, I was pretty happy with myself this morning when forgeBSgenomeDataPkg() ran with no errors and I watched as the genome all got loaded into memory.  A folder for the output was made and I had a mug of victory coffee!

Unfortunately, once the dust cleared and the loading finished I got an index overflow error from TwoBits_export.  I specifically went with the fasta method because my gen

[2022-03-08 18:27] hpages commented on #26
Hi @AO-M-Lima ,

Were you able to make some progress on this?

Cheers,
H.

[2022-03-10 17:53] hpages commented on #28
Yes `forgeBSgenomeDataPkg()` converts to 2bit by default. This is controlled via the `ondisk_seq_format` field in your seed file, which is considered to be set to `2bit` when not specified. I would suggest that you set it to `rda` instead. See the "How to forge a BSgenome data package" vignette for more information.

Hope this helps.

H.

[2022-03-16 19:44] hpages commented on #28
Hi @stevenjblair ,

Don't know if you were successful. I gave this a try today, and found that there are indeed some difficulties.

1. When the input to the forging process is FASTA and not 2bit, the giant FASTA file provided by NCBI needs to be split in smaller files (one per sequence), as explained in the vignette.

2. The sequence names stored in the giant FASTA file provided by NCBI (`GCA_0029

[2022-03-16 21:01] stevenjblair commented on #28
Great stuff H!

I had not returned to this yet.  Was actually going to have another go at it.  I had defeated that issue about the GenBank accession numbers using sed.  I like your method much better, doing it all in R! Very nice indeed, thank you so much.

I need those other unplaced scaffolds unfortunately.  They do cause issues while naming in the seed and I did try different ways to print them

[2022-03-17 05:29] hpages commented on #28
No problem. Also I just made some adjustments to the **BSgenome** software package (in version 1.63.5) so that using this kind of `seqnames` field

    seqnames: GenomeInfoDb::getChromInfoFromNCBI("GCA_002915635.3")$SequenceName

should no longer cause problems.

Make sure you grab this version of **BSgenome** if you want to include all the scaffolds in **BSgenome.Amexicanum.NCBI.ambMex60DD**. I j

[2022-03-28 18:44] hpages commented on #26
No news good news I guess. Can we close this issue?

[2022-03-28 18:52] AO-M-Lima commented on #26
Hi
I am deeply sorry for the lack of answers.
 I missed your other emails.
yes, it is working!.
Sure, you can close.
Thanks for your assistance,
Best,
Andressa.

Em seg., 28 de mar. de 2022 às 11:44, Hervé Pagès ***@***.***>
escreveu:

--

*​Andressa Oliveira de Lima*

*Ph.D. Sciences, emphasis in Genetic and Evolution*
*​​Postdoctoral Scholar - University of Washington*

[2022-03-28 19:19] hpages commented on #26
Hi Andressa,

No worries. Thanks for getting back to me. Glad you were able to solve this.

Best,
H.

[2022-03-28 19:19] #26 closed, assigned to nobody

[2022-03-31 16:18] #21 closed, assigned to hpages

[2022-04-18 16:32] hpages commented on #28
Maybe we can close this @stevenjblair ?  -- H.

[2022-04-18 18:18] #28 closed, assigned to nobody

[2022-04-19 19:01] hpages commented on #23
@gevro FYI we've wrapped the T2T-CHM13 assembly in a new BSgenome data package: https://bioconductor.org/packages/BSgenome.Hsapiens.NCBI.T2T.CHM13v2.0

Available in BioC >= 3.15 only.

Best,
H.

[2022-04-19 19:03] gevro commented on #23
Thanks! Might be useful to also have 1.0 and 1.1, since some people use that, but just a suggestion.

[2022-04-19 19:56] hpages commented on #23
1.0 and 1.1 are incomplete (Y is missing) and not supported by UCSC (https://genome.ucsc.edu/h/GCA_009914755.4) so have little value compared to 2.0. I've registered them in **GenomeInfoDb** 1.31.8 though:
[code]
So people can do things like `getChromInfoFromNCBI("T2T-CHM13v1.1")` or `Seqinfo(genome="T2T-CHM13v0.7")`. This should also make it easy for them to build their own BSgenome data packages

[2022-04-27 18:04] prmunn opened #29 "Unable to forge genome for EquCab"
I'm having problems forging a genome for EquCab3.0. Apparently there isn't a registered NCBI assembly or UCSC genome in the GenomeInfoDb package so I get the message:
Error in .make_Seqinfo_from_genome(genome) :
  "equCab3" is not a registered NCBI assembly or UCSC genome (use
  registered_NCBI_assemblies() or registered_UCSC_genomes() to list the
  NCBI or UCSC assemblies/genomes currently regist

[2022-04-28 14:55] prmunn commented on #29
Found the issue. I needed to add circ_seqs: character(0) to the seed file.

[2022-04-28 14:55] #29 closed, assigned to nobody

[2022-04-28 15:03] prmunn opened #30 "BSgenome package not available"
I've run through the vignette to forge a new genome. I can build the package using R CMD build <package directory> and create the tar file. However, when I run R CMD check I get a message saying "Package required but not available: BSgenome"

Similarly, when I attempt to install I get the message:
ERROR: dependency BSgenome is not available for package BSgenome.Equuscabellus.UCSC.equCab3

What do

[2022-04-28 15:16] hpages commented on #30
Install the **BSgenome** package:

    BiocManager::install("BSgenome")

Not sure how it's missing though. You wouldn't have been able to forge **BSgenome.Equuscabellus.UCSC.equCab3** without it.

[2022-04-28 16:24] prmunn commented on #30
Ah... I see where I went wrong. I loaded BSgenome into Rstudio in order to forge the genome. I need to run R from the command line and load the library there before "R CMD" can use it.

[2022-04-28 16:24] #30 closed, assigned to nobody

[2022-04-28 18:20] hpages commented on #29
@prmunn

FWIW I just registered UCSC genomes equCab1, equCab2, and equCab3 in **GenomeInfoDb** 1.32.1 to make forging those BSgenome data packages easier in the future. This will also allow you to do things like:

    Seqinfo(genome="equCab3")

or:

    library(BSgenome.Ecaballus.UCSC.equCab3)
    genome <- BSgenome.Ecaballus.UCSC.equCab3
    seqlevelsStyle(genome) <- "NCBI"

to rename the sequenc

[2022-04-28 19:45] prmunn commented on #29
Thanks!

[2022-05-09 18:51] bschilder opened #31 "Speeding up `BSgenome::snpsById`"
Hello,

I was just wondering if you had any tricks for speeding up `BSgenome::snpsById`. This is currently one of the slower steps in our [`MungeSumstats`](https://github.com/neurogenomics/MungeSumstats) pipeline  (@Al-Murphy). Specifically, [here](https://github.com/neurogenomics/MungeSumstats/blob/315adb13c105b4471aa0d9cbd0b409e398a90327/R/load_ref_genome_data.R#L37).

The slowness is especially

[2022-05-09 21:06] hpages commented on #31
Yes, the speed is not particularly impressive in your example where you're looking up 93 rs ids only but the good news is that `BSgenome::snpsById()` scales really well and only takes a little bit more time if the number of rs ids is 1 million.

For example, with **SNPlocs.Hsapiens.dbSNP144.GRCh38**:
[code]
So it takes only about 17 sec. on my laptop to lookup 1 million rs ids!

Note that supplyin

[2022-05-09 21:55] bschilder commented on #31
@hpages Thank you so much for taking the time to explain this so thoroughly!

The scaling is actually quite impressive when you put it that way. Sorry, I think i misspoke when i said "especially pronounced" when scaling up to millions of SNPs. What I meant was, it takes longer with lots of SNPs (albeit not nearly as long as you'd expect given the time it takes to query <100 SNPs). Also, we're call

[2022-06-30 08:06] xiangyupan opened #32 "Error occured when forge Axolotl genome by BSgenome"
Hi Hervé @hpages
I want to construct the BSgenome of Axolotl genome for single-cell ATAC-seq analysis. I 've carefully read your comments in the URL: https://github.com/Bioconductor/BSgenome/issues/28
Then I followed your steps for spliting the huge genome to single fasta file and create the seed file the same with your file.
But when I ran the command,   an error occureed as following:
\> forgeBS

[2022-06-30 21:11] hpages commented on #32
Are you using the current version of Bioconductor i.e. BioC 3.15? The `ambMex60DD` assembly was registered in the **GenomeInfoDb** package in March 2022 so is only supported starting with BioC 3.15.

`BiocManager::version()` to see what version you are using. BioC 3.15 requires R 4.2.

H.

[2022-07-04 07:17] xiangyupan commented on #32
Hi H.
Thanks for your reply. The axolotl genome has been successfully forged under the R 4.2 envs. Although there is an error (LaTeX errors when creating PDF version) occurred when running `R CMD check myspecies.tar.gz`, it goes through when running `R CMD INSTALL myspecies.tar.gz`. Hope other person would see my exprience.
Then I will close this issue.

Pan

[2022-07-04 07:17] #32 closed, assigned to nobody

[2022-08-04 23:57] m-waqas opened #33 "Malformed package name"
Hi, I am trying to forge the genome of [Pteropus alecto ](https://www.ncbi.nlm.nih.gov/data-hub/genome/GCF_000325575.1/), I have downloaded the [zipped genome fasta file ](https://ftp.ncbi.nlm.nih.gov/genomes/all/annotation_releases/9402/102/GCF_000325575.1_ASM32557v1/GCF_000325575.1_ASM32557v1_genomic.fna.gz), converted the fasta file into 2bit using [fasta_to_sorted_2bit.R](https://github.com/Bi

[2022-08-09 19:13] hpages commented on #33
Well, it says that the name of your package is malformed so here's where you're making a mistake.

For the general rules about naming an R package see section "1.1.1 The DESCRIPTION file" of the ["Writing R Extensions manual"](https://cran.r-project.org/doc/manuals/r-release/R-exts.html). The TL;DR version is that underscores (`_`) are not allowed.

FURTHERMORE: For the specific naming conventions

[2022-08-11 20:25] hpages commented on #31
Hi @bschilder,

Is it ok to close this issue?

Thanks,
H.

[2022-08-11 20:26] hpages commented on #33
Hi @m-waqas,

Was the above helpful? Is it ok to close?

Thanks,
H.

[2022-08-11 20:28] m-waqas commented on #33
Many thanks, Yes it was very helpful and it worked. Many thanks

[2022-08-11 21:49] hpages commented on #33
Great! Closing now.

[2022-08-11 21:49] #33 closed, assigned to nobody

[2022-08-12 10:07] bschilder commented on #31
Yes, of course! I hadn't realized this was still open. Thanks for checking @hpages :)

[2022-08-12 10:07] #31 closed, assigned to nobody

[2022-08-23 12:30] jeroen opened #34 "no existing definition for function ‘releaseName’"
Trying to build from source on R 4.2.1 gives me:

[code]

[2022-08-23 12:44] vjcitn commented on #34
is BiocManager::valid() yielding TRUE?  This is for Bioconductor 3.15?

[2022-08-23 12:49] jeroen commented on #34
Yes it is using the BioC 3.15 repo. It happens when `BSgenome` is installed as a dependency of another R package, for example [here](https://github.com/r-universe/bioconductor/commit/9557aaf382eece5b85f321909d48d61beffa8f9d/checks/7972566521/logs).

We just use `install.packages()` instead of BiocManager, but that should still work I think?

[2022-08-23 12:53] vjcitn commented on #34
I am trying to reproduce.  It will take a few minutes as my installation is out of date.

[2022-08-23 13:05] mtmorgan commented on #34
I see
[code]
where the odd 'y' in the version (33) indicates that it is the devel (master) branch, whereas in
[code]
the even y (64) indicates the release (Bioconductor version 3.15) branch. I also [see](https://code.bioconductor.org/browse/BSgenome/commit/3e6a7aae492496c70144da5cd27790917ae3a7f6) that `releaseName` has been removed from devel, or rather, removed from GenomeInfoDb, with a generic

[2022-08-23 13:28] vjcitn commented on #34
Working from the RELEASE_3_15 branch I have
[code]

[2022-08-23 14:07] jeroen commented on #34
Right, r-universe is building the git checkout using the current release of R and BioC. I did not see anything in the `Depends: ` that implies the development branch of bioc is required, so I assumed it was unintentional.

[2022-08-23 14:08] mtmorgan commented on #34
You're using the GenomeInfoDb (and other packages) from devel... The 'master' branch is always devel; releases are on RELEASE_*.

[2022-08-23 18:26] hpages commented on #34
About the commit messages:

- Commit https://github.com/Bioconductor/GenomeInfoDb/commit/43bc04c1065f640c00f4ad4681c50558b451eff2 for **GenomeInfoDb** (from May 7):
[code]
- Commit 3e6a7aae492496c70144da5cd27790917ae3a7f6 for **BSgenome** (from May 7):
[code]
I wish I could make this clearer but english is not my native language ¯\\_(ツ)_/¯

Both commits were made in master at the very beginning of

[2022-08-25 15:21] jeroen commented on #34
OK thank you very much for the clarifications.

I have changed the r-universe build system to build bioconductor packages under the `/bioconductor` github account from the latest release branch (e.g. `RELEASE_3_15`) instead of default git checkout. So the versions should now match those from the bioc release branch I think: https://bioconductor.r-universe.dev/ui#builds

Ideally, we would rather bu

[2022-08-25 15:21] #34 closed, assigned to nobody

[2022-08-25 17:07] hpages commented on #34
Hi Jeroen,

Would your build system be able to grab packages from `https://git.bioconductor.org/packages/<pkgname>`?

Note that this is the primary git location for all Bioconductor packages. Only a small fraction of Bioconductor packages are actually under the `/Bioconductor` github account (basically only packages maintained by the core team). See "Source Repository" at the bottom of the package

[2022-08-25 18:03] hpages commented on #34
Also about this:

Not really.

master branches of bioc packages are tested to work on bioc-devel + the version of R that bioc-devel is based on. This is r-devel between the Fall and Spring releases, and r-release between the Spring and Fall releases. The idea behind this scheme is that new BioC releases are always based on the latest R release.

So for example right now bioc-devel is mapped to R 4

[2022-08-26 20:00] jeroen commented on #34
Actually r-universe builds all packages that can be found on GitHub/GitLab (not just those from /bioconductor). The system has indexed almost 1000 bioc packages. You can find them via the [r-universe seach](https://r-universe.dev/search/) but I have also cross referenced them now on the bioconductor repository e.g.

 - https://bioconductor.r-universe.dev/ui#packages
 - https://bioconductor.r-unive

[2022-08-26 20:15] hpages commented on #34
Yeah I understand that but:
- I'm not sure there's a reliable way to find the GitHub repo that corresponds to a git repo at git.bioconductor.org, so there's no guarantee that what you find on GitHub matches what is at git.bioconductor.org
- Even when you find "the match" on GitHub, there's no guarantee that it's in sync with the git repo at git.bioconductor.org. See for example https://github.com/

[2022-08-29 10:46] jeroen commented on #34
Thanks for your input. To clarify, we only index packages from GitHub if the official bioconductor registry mentions a Github URL in the package DESCRIPTION. So it is still up to the package author to let us know where the official GitHub source is:

[code]

Your example ArrayExpressHTS is not in there, so that's why it's not on r-universe.

In General, we are mostly interested in indexing package

[2022-09-01 02:50] balathumma10 opened #35 "error forgebsgenome"
Hi,
I am trying to use forgebsgenome to develop bsgenome for eucalyptus grandis genome which is provided by JGI. When I tried to use the command forgeBSgenomeDataPkg with the seed file prepared I get the following error. Could you please help solve this. Thanks.

Error in .make_Seqinfo_from_genome(genome) :
  "v2.0" is not a registered NCBI assembly or UCSC genome (use registered_NCBI_assemblies()

[2022-09-02 04:38] balathumma10 commented on #35
Here is my seed file
Package: BSgenome.Egrandis.JGI.v2.0
Title: Full genome sequence for Eucalyptus grandis
Description: Full genome sequence of Eucalyptus grandis v2.0 provided by JGI
Version: 2.0
organism: Eucalyptus grandis
common_name: rose gum
provider: phytozome
genome: Eucalyptus grandis v2.0
release_date: 2014/12
release_name: JGI
source_url: https://phytozome-next.jgi.doe.gov/info/Egrandi

[2022-09-02 06:06] balathumma10 commented on #35
I have split the genome fasta file into individaul chromosome and scaffold level fast files. Still I get this error.

Error in .make_Seqinfo_from_genome(genome) :
  "Eucalyptus grandis v2.0" is not a registered NCBI assembly or UCSC genome (use registered_NCBI_assemblies() or registered_UCSC_genomes() to list the
  NCBI or UCSC assemblies/genomes currently registered in the GenomeInfoDb package)
I

[2022-09-06 16:40] hpages commented on #35
Hi @balathumma10,

Unfortunately we cannot register assemblies from JGI in the **GenomeInfoDb** package at the moment. Anyways, registration is not required for forging a BSgenome data package. For assemblies not registered in **GenomeInfoDb**, you need to do _one_ of the following:
1. List the chromosome/scaffold names in the `seqnames:` field (like you did).
2. Convert the big FASTA file contain

[2022-09-07 06:26] balathumma10 commented on #35
Thank you. I have used a version of the genome available in the NCBI and converted it to a .2bit format. I am able to generate BSgenome using the forgeBSgenome package.

[2022-09-07 16:01] hpages commented on #35
Sounds good. Just to be clear, there's no "forgeBSgenome package". I guess you meant you used the `forgeBSgenomeDataPkg()` _function_ from the **BSgenome** _package_.

[2022-09-07 16:01] #35 closed, assigned to nobody

[2022-09-07 22:16] balathumma10 commented on #35
Yes, my bad. I meant forgeBSgenomeDataPkg function of BSgenome package.

[2022-09-16 15:49] Dalhte opened #36 "BSgenome.Rnorvegicus.NCBI.rn6"
Hi there.
I'm tryng to analyse snATAC-seq data on Rat tissues using Signac.
 My snATAC data have this kind of "NCBI" format : 1-172749-173853 so I think I need a BSgenome package for the Rat genome version RN6 but in NCBI format, so I tried to forge one.
I downloaded the BSgenome package and the fasta file from Ensembl (named 1.fa and so on..). Then created the seed as follow :

Package: BSgenome.

[2022-09-16 16:14] hpages commented on #36
Hi,

What do you mean exactly by "in NCBI format"? AFAIK rn6 (UCSC) is the same as Rnor_6.0 (NCBI) except for the chromosome/scaffold names. Those can be easily switched back and forth with `seqlevelsStyle()`:
[code]
Cheers,
H.

[2022-09-16 16:35] Dalhte commented on #36
Hi ! Thanks for the fast answer.
I mean by Ncbi format the way sequences are called
Ncbi is something like 1:100000-100100 for the 100 bp of the first chromosome at the 100000 bp position but ucsc would use something like chr1:100,000-100,100 i think
My peaks are in the ncbi way but my bsgenome is in ucsc way.
Does your solution will transform the BSgenome.Rnorvegicus.UCSC.rn6 BSgenome.Rnorvegicus

[2022-09-16 17:05] hpages commented on #36
Hmm.. Not sure how what NCBI or UCSC do to "call sequences" (whatever than means) has anything to do with what we put in a BSgenome data package.

A BSgenome data package contains the chromosome/scaffold sequences, that's all. In addition the **BSgenome** software package provides an API to access those sequences, mostly `genome$chr1`, `genome[["chr1"]]`, and `getSeq()`. This API is the same whate

[2022-09-16 17:19] hpages commented on #36
Now that I read this again: `1:100000-100100` won't work for the Rnor_6.0 (NCBI) assembly because this assembly has no chromosme named `1`. See my second last post above for the chromosome/scaffold names used in Rnor_6.0.

You can actually see those names here: https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/895/GCF_000001895.5_Rnor_6.0/GCF_000001895.5_Rnor_6.0_assembly_report.txt (leftmost c

[2022-09-17 12:06] Dalhte commented on #36
Hi
The script I'm runing using BSgenome is

Where PG24 is my signac object
I get :
Erreur dans .getOneSeqFromBSgenomeMultipleSequences(x, name, start, NA, width,  :
  sequence 1 not found
De plus : Message d'avis :
Dans .Seqinfo.mergexy(x, y) :
  The 2 combined objects have no sequence levels in common. (Use
  suppressWarnings() to suppress this warning.)

same thing with my custom BSgenome.Rnorve

[2022-09-17 13:01] vjcitn commented on #36
Can't you make the dimnames in the ChromatinAssay instance have the `chr` prefix?
[code]
Unfortunately I can't get a ChromatinAssay instance to investigate:
[code]

[2022-09-17 13:40] Dalhte commented on #36
Hi Vince.
Thanks for the advice. If I have no other choice I will but I would rather have a "suited" BSgenome package if possible :)
Best
D.

[2022-09-17 14:32] Dalhte commented on #36
I tried again forging the BSgenome.NCBI format and it worked. I redownloaded the RN6 from NCBI this time (and not from ensembl, but not sure it's changing something), I changed the name of the fasta fie to remode the Chr prefix, and I think most importantly I renamed the final package (somehow I wonder if Rstudio was not using the same "in cache" files and not the one I was creating)
Now I have :

[2022-09-17 14:32] #36 closed, assigned to nobody

[2022-09-17 16:44] vjcitn commented on #36
Maybe file an issue at Signac to promote a more flexible approach to working with
diverse seqnames formats?

[2022-09-18 21:45] hpages commented on #36
Or, if you can't add the `chr` prefix to the sequence names in your PG24 object, simply remove it from the sequence names in the `BSgenome.Rnorvegicus.UCSC.rn6` object:
[code]
Sequence name incompatibilities are easy to work around and never require forging a new BSgenome package from scratch.

This was really a question about basic usage. These questions are always better asked on [the Bioconduct

[2022-09-19 08:29] Dalhte commented on #36
Hello
I just tried  seqnames(BSgenome.Rnorvegicus.UCSC.rn6) <- gsub("^chr", "", seqnames(BSgenome.Rnorvegicus.UCSC.rn6))
It's kind off working but not fully as there is other differences between NCBI and USCS (such as the way mitochondrial DNA or un alignated sequences are called). Forging an ad hoc bsgenome seems more simple than correcting each format differences and seems to work just fine :)
B

[2022-09-19 15:06] hpages commented on #36
The differences between NCBI and UCSC can be eliminated with `seqlevelsStyle(genome) <- "NCBI"`, as I already explained above. So you need to switch the names to NCBI before removing the `chr` prefix:
[code]
Then:
[code]
This is _way_ simpler than spending hours trying to forge your own BSgenome package from scratch :)

Cheers,
H.

[2022-10-07 18:28] jayoung opened #37 "getSeq versus Views runtime"
hey,

An observation, rather than a bug:    I noticed that `getSeq` runs much slower than `Views` when extracting sequences from a BSgenome using GRanges to specify the desired regions.  I'll use Views for my project, but I'm wondering if getSeqs would be better if updated to use whatever code Views is using.

An example is below.  With hg38 I needed a large number of windows to see the problem.

[2022-10-07 18:43] jayoung commented on #37
hmm - digging in a bit more, is Views quicker simply because it's not actually getting the entire sequence of each region?

when I actually get the seqs from the Views object, that's time-consuming too.   Oh well!
[code]
I don't really need a DNAStringSet - character vector would be fine.

Feel free to close this, although if you have suggestions about the most efficient way to get large numbers o

[2022-10-11 01:05] hpages commented on #37
Hi Janet,

Yep, that's why. The `Views()` constructor doesn't actually load any sequence at all in memory... until you display the returned BSgenomeViews object. Then the `show()` method for these objects will load very small pieces of the sequences, only what's needed to print a compact summary of the object.

Note that doing `y <- Views(Hsapiens, windows10kb[1:100000]); as(y, "DNAStringSet")` is

[2022-10-11 23:36] jayoung commented on #37
thanks for taking a look - appreciate it.

check this out: with the genome I've been working with the time difference is MUCH more pronounced than with hg38 (and this test only uses 100 regions).  I suspect it's because it's a lot more fragmented than hg38 (56740 contigs versus 640 for hg38).

so the speedup provided by using the 2bit file is VERY helpful in my case.

thank you!

[code]

[2022-10-12 05:37] hpages commented on #37
Wait.. what? That's crazy :dizzy:

But yeah, that's because your genome has _a lot_ of sequences. The `getSeq()` method for BSgenome objects uses a `for` loop in R to load the contigs in memory one at a time, and to extract the queried sequences from each contig. This implementation predates support for 2bit files in Bioconductor (added by Michael Lawrence in 2011 in **rtracklayer**), and is from

[2022-10-12 23:10] jayoung commented on #37
I know!   Crazy.

I'm toying with the idea of just getting rid of some of the shorter contigs in this genome (I suspect the same issue is giving me trouble outside of R as well, with GATK).   I'd prefer to do that kind of filtering further downstream in my analysis if I can.

Anyway, it does seem worth an update. Not urgent from my perspective now that you've told me that nice trick.

thanks again

[2022-10-17 17:35] hpages opened #38 "Proposed task for Outreachy applicants: Forge BSgenome data package for UCSC genome canFam6"
This task depends on [this issue](https://github.com/Bioconductor/GenomeInfoDb/issues/43) being completed first (i.e. PR accepted and merged, and issue closed). Although it's not a requirement that the 2 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

_BSgenome data packages_ are one of the many types of annotation packages available in Bio

[2022-10-17 17:52] hpages opened #39 "Proposed task for Outreachy applicants: Forge BSgenome data package for NCBI assembly Dog10K_Boxer_Tasha"
This task depends on [this issue](https://github.com/Bioconductor/GenomeInfoDb/issues/44) and issue #38 being completed first (i.e. PRs accepted and merged, and issues closed). Although it's not a requirement that the 3 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

_BSgenome data packages_ are one of the many types of annotation packages

[2022-10-17 18:07] hpages opened #40 "Proposed task for Outreachy applicants: Forge BSgenome data package for UCSC genome xenTro10"
This task depends on [this issue](https://github.com/Bioconductor/GenomeInfoDb/issues/46) being completed first (i.e. PR accepted and merged, and issue closed). Although it's not a requirement that the 2 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

_BSgenome data packages_ are one of the many types of annotation packages available in Bio

[2022-10-17 18:08] hpages opened #41 "Proposed task for Outreachy applicants: Forge BSgenome data package for NCBI assembly UCB_Xtro_10.0"
This task depends on [this issue](https://github.com/Bioconductor/GenomeInfoDb/issues/47) and issue #40 being completed first (i.e. PRs accepted and merged, and issues closed). Although it's not a requirement that the 3 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

_BSgenome data packages_ are one of the many types of annotation packages

[2022-10-17 18:11] hpages opened #42 "Proposed task for Outreachy applicants: Forge BSgenome data package for UCSC genome felCat9"
This task depends on [this issue](https://github.com/Bioconductor/GenomeInfoDb/issues/49) being completed first (i.e. PR accepted and merged, and issue closed). Although it's not a requirement that the 2 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

_BSgenome data packages_ are one of the many types of annotation packages available in Bio

[2022-10-17 18:12] hpages opened #43 "Proposed task for Outreachy applicants: Forge BSgenome data package for NCBI assembly Felis_catus_9.0"
This task depends on [this issue](https://github.com/Bioconductor/GenomeInfoDb/issues/50) and issue #42 being completed first (i.e. PRs accepted and merged, and issues closed). Although it's not a requirement that the 3 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

_BSgenome data packages_ are one of the many types of annotation packages

[2022-10-19 07:15] Priceless-P commented on #38
Hi @hpages
Please can I work on this issue?

[2022-10-19 15:04] hpages commented on #38
Hi @Priceless-P
I just assigned you. It's all yours now!

[2022-10-20 01:20] hpages opened #44 "Proposed task for Outreachy applicants: Forge BSgenome data package for UCSC genome gorGor6"
This task depends on [this issue](https://github.com/Bioconductor/GenomeInfoDb/issues/60) being completed first (i.e. PR accepted and merged, and issue closed). Although it's not a requirement that the 2 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

_BSgenome data packages_ are one of the many types of annotation packages available in Bio

[2022-10-20 01:22] hpages opened #45 "Proposed task for Outreachy applicants: Forge BSgenome data package for NCBI assembly Kamilah_GGO_v0"
description coming soon...

[2022-10-20 13:04] Priceless-P commented on #38
@hpages I think I have been able to make it work! I finally got `forgeBSgenomeDataPkg()`, `R CMD build` `R CMD check`, and `R CMD install` to all run with no errors.   Apart from a few errors I encountered earlier which I found most of the solutions on Bioconductor support page, [this vignette](https://www.bioconductor.org/packages/devel/bioc/vignettes/BSgenome/inst/doc/BSgenomeForge.pdf) you wrot

[2022-10-20 18:34] hpages commented on #38
Hi @Priceless-P,

Sounds like you did a really good job at digging around and finding all the information you needed. Congrats!

If you are confident that your BSgenome data package works as expected, please add your seed file to the `inst/extdata/Outreachy/` folder of the **BSgenome** _software_ package. You'll need to fork the **BSgenome** repository for that, then add the seed file, commit, pus

[2022-10-20 20:50] Priceless-P commented on #38
Wow!!! I'm so honored 💃
 I'm putting this up on my LinkedIn! Thank you so much @hpages

Thank you, Wasn't so hard. Thanks to you, the support is amazing!

Okay, I just created a pull request. Please take a look.

[2022-10-22 00:42] kakopo commented on #42
Hi @hpages I'd like to work on this issue please

[2022-10-22 00:53] hpages commented on #42
All right, I just assigned you.

[2022-10-23 00:04] kakopo commented on #42
Hi @hpages. I have been able to run `R CMD build` and `R CMD check` on the package with no errors (& 3 NOTES). The resources you shared within the issue were enough to get me through this task. I also followed your conversation with Prisca in pull #46 and took a TONNE of pointers, including adding `PkgExamples: genome$chrA1 # same as genome[["chrA1"]]` to my seed file (the edit was done for the sa

[2022-10-24 05:35] hpages commented on #42
Hi @kakopo

As promised to Presca [here](https://github.com/Bioconductor/BSgenome/pull/46#issuecomment-1288339552), I'll provide some clarifications about the `PkgExamples` field soon.

You got a warning because `provider_version` is deprecated in favor of `genome`. Yes `provider_version` is still supported for backward compatibility but all newly created BSgenome data packages should stop using i

[2022-10-24 10:22] kakopo commented on #42
Hi @hpages. I'm actually quite embarrassed, it was a mistake on my part. I forged the package once more and realized the first time I ran `R CMD INSTALL` with the package name rather than the tarball. All runs fine now and the output is identical. Still, here is the output of my call to `forgeBSgenomeDataPkg()`. I've replaced `provider_version` with `genome` as well.
[code]

[2022-10-24 18:19] kakopo commented on #42
I was trying to do the same task, this time using the FASTA file instead of a 2bit file. I came across a tool called exonerate that splits the FASTA file using the command `fastaexplode felCat9.fasta`. Is this an oft used tool for the role?

[2022-10-25 04:23] hpages commented on #42
Hi @kakopo ,

Thanks for replacing `provider_version` with `genome` in your seed file.

The output of your `forgeBSgenomeDataPkg()` call looks as expected. Glad to hear that `seqinfo(Fcatus)` and `getChromInfoFromUCSC("felCat9", as.Seqinfo=TRUE))` are now identical, as they should.

Please read thru this long comment I posted [here](https://github.com/Bioconductor/BSgenome/pull/46#issuecomment-128

[2022-10-25 05:13] hpages commented on #42
Never heard of this tool @kakopo. It might do the job. It's just that I find the split to be easy enough to do in R so I've always used that.

[2022-10-25 18:54] kakopo commented on #42
Hi @hpages. I was able to run the code in the example you shared. It was a useful lesson in the why exactly one would switch between UCSC and NCBI names. The only issue I ran into was running `getSeq()` gave the following error
[code]
which was not what I expected, following the code. Still,
[code]
returned the correct output. The explanation for the need to switch the sequence names was very help

[2022-10-25 22:21] hpages commented on #42
Hi @kakopo

Did you call `getSeq()` with no arguments? You need to pass arguments to it. In our case, a BSgenome object and a GRanges object. Look how I called `getSeq()` on `Cfamiliaris` and `genes_ranges` in the code I showed in my long comment to Presca [here](https://github.com/Bioconductor/BSgenome/pull/46#issuecomment-1289651838). Should be easy to adapt to make it work on `Fcatus`.

What GF

[2022-10-25 23:58] kakopo commented on #42
Oh, yes. I actually ran `getSeq()` twice, once without arguments and once without, just to check what the response would be. The second time I ran `getSeq(Fcatus, genes_ranges)` I got the expected output! I've seen now that its just because of the missing arguments. I try to run the code with different scenarios to see what happens. Sometimes I find missing packages or in this case, the `genomeSty

[2022-10-26 00:25] hpages commented on #42
`libmariadb-dev` is not an R package. It's a system library available as a Debian package!
This error message:
[code]
shows the name of the system component that needs to be installed for various operating systems. For yours (Ubuntu), it says `* deb: libmariadb-dev (Debian, Ubuntu)`. `deb` stands for Debian package. Like all Debian packages, you need to install it at the Unix command line with `su

[2022-10-26 03:44] hpages commented on #42
See https://github.com/Bioconductor/BSgenome/pull/46#issuecomment-1291424086 for the long due explanation about `PkgExamples`. Let me know if you have any questions.

[2022-10-26 03:50] hpages commented on #38
Hi @Priceless-P,

I just merged PR #46.

Don't miss my long due explanation about `PkgExamples`: https://github.com/Bioconductor/BSgenome/pull/46#issuecomment-1291424086  Don't hesitate to ask if you have any questions.

Next task in your group is #39. It's still about Dog! :dog2: Whenever you are ready, go there and ask to be assigned.

Don't forget to record your contributions on Outreachy at ht

[2022-10-26 03:50] #38 closed, assigned to Priceless-P

[2022-10-26 03:55] hpages commented on #42
Hi @kakopo ,

I just merged PR #47.

Don't miss my long due explanation about `PkgExamples`: https://github.com/Bioconductor/BSgenome/pull/46#issuecomment-1291424086  And do not hesitate to ask if you have any questions.

Next task in your group is #43. It's still about Cat! :cat2: Whenever you are ready, go there and ask to be assigned.

Don't forget to record your contributions on Outreachy at h

[2022-10-26 03:55] #42 closed, assigned to kakopo

[2022-10-26 06:29] Priceless-P commented on #39
Hi @hpages, please can I work on this issue?

[2022-10-26 07:14] Priceless-P commented on #38
Sure.

Thanks @hpages

[2022-10-26 14:04] kakopo commented on #42
Thank you.
I was able to successfully install RMariaDB! The story was much appreciated too- now I know that the GRanges objects are done manually. I have also gone through the explanation about `PkgExamples` in [#46 (comment)](https://github.com/Bioconductor/BSgenome/pull/46#issuecomment-1291424086) which was very insightful and helpful. I take it that this means that simply adding explanatory com

[2022-10-26 14:08] kakopo commented on #43
Hello @hpages. Could I please be assigned to this task?

[2022-10-26 14:13] hpages commented on #39
Absolutely @Priceless-P !

[2022-10-26 14:21] hpages commented on #42
Yes. If you check the man page for your **BSgenome.Fcatus.UCSC.felCat9** package, you'll see that the `genome$chrA1 # same as genome[["chrA1"]]` line was injected _as-is_.

[2022-10-26 14:26] hpages commented on #43
Of course!

BTW, check the landing page for the **GenomeInfoDb** package (pay attention to the Author field): https://bioconductor.org/packages/devel/GenomeInfoDb :tada:

[2022-10-26 16:15] kakopo commented on #43
I'm honestly elated, @hpages! I actually can't stop grinning ear to ear. Thank you! :grin: :grin:

[2022-10-26 17:24] hpages commented on #39
Also don't forget to record https://github.com/Bioconductor/BSgenome/pull/46 on Outreachy.

[2022-10-26 18:14] Priceless-P commented on #39
Okay thank you @hpages

I have forged `BSgenome.Cfamiliaris.NCBI.Dog10KBoxerTasha` successfully. But while testing I discovered that
[code]
returns `FALSE`. I have tried to find out what I did wrong but I haven't 😥.

`seqinfo(Cfamiliaris)` does return `NCBI`.

This is the result of `forgeBSgenomeDataPkg()`

[code]
This is the result of `R CMD build`
[code]

This is the result of `R CMD check`
[cod

[2022-10-26 19:29] hpages commented on #39
Can you show here the output you get when executing the following code?

    library(BSgenome.Cfamiliaris.NCBI.Dog10KBoxerTasha)
    seqinfo(Cfamiliaris)

Thanks

[2022-10-26 19:33] Priceless-P commented on #39
Yes. This is it
[code]

[2022-10-26 19:50] hpages commented on #39
Thanks. So we need to understand why `identical(seqinfo(Cfamiliaris), getChromInfoFromNCBI("Dog10K_Boxer_Tasha", as.Seqinfo=TRUE))` returns `FALSE`. Let's try to find the differences between the 2 objects. `str()` is the tool of choice to quickly inspect what's inside an object:

    seqinfo1 <- seqinfo(Cfamiliaris)
    str(seqinfo1)

    seqinfo2 <- getChromInfoFromNCBI("Dog10K_Boxer_Tasha", as.S

[2022-10-26 20:05] Priceless-P commented on #39
This is the result I got
[code]
`str(seqinfo2)` returns
[code]
I can't seem to find any difference between the two from the results above. ```all.equal(seqinfo1, seqinfo2)``` however picked something.
[code]
My guess is that the problem might be a difference in `seqlengths`. But like you said `all.equal()` is a bit hard to interpret so I don't know what `“seqlengths”: 'is.NA' value mismatch: 1 in

[2022-10-26 20:25] hpages commented on #39
I think that `all.equal()` is trying to tell us that the `seqlengths` slot of Seqinfo object `seqinfo2` contains an NA. Seqinfo objects are S4 objects, and S4 objects have slots. Even though we can extract the value stored in a slot with the `@` operator (e.g. with `seqinfo2@seqlengths`), the end user is not supposed to do that. The end user should _always_ use the corresponding _getter function_

[2022-10-26 21:21] Priceless-P commented on #39
Specialist? 😂

Well, I don't think it should be NA. But see what is included in the [full report](https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/002/285/GCF_000002285.5_Dog10K_Boxer_Tasha/GCF_000002285.5_Dog10K_Boxer_Tasha_assembly_report.txt)

[code]

[2022-10-26 23:17] kakopo commented on #43
Hi @hpages.
I think I'm done with forging the package. All (tentatively) works as expected on my end, and the content within the package folders looks dine. Looking for the source URL was a minor challenge (I just pasted a [modified](https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/181/335/GCF_000181335.3_Felis_catus_9.0/) version of the URL I used in issue #42. I hope that's fine).

Running some

[2022-10-27 02:17] hpages commented on #39
Exactly. That `NA` is actually coming from the "Full sequence report" for `Dog10K_Boxer_Tasha`. Glad that you spotted it there!

Let's remember that NCBI is just a huge centralized repository where researchers can submit (i.e. upload) assemblies for the organisms that they are studying. For example, in the case of `Dog10K_Boxer_Tasha`, the **Submitter** field on the NCBI page for this assembly say

[2022-10-27 08:39] Priceless-P commented on #39
@hpages, I think my problem is bigger than just "MT" sequence length.
```seqlengths(seqinfo2)["MT"] <- seqlengths(seqinfo1)["MT"]``` does fix the first issue, however ```identical(seqinfo1, seqinfo2)``` still returns false 😥. I found out that seqlength of all the unplaced-scaffold returned from `seqinfo1` are very different from those of `seqinfo2`. I could do `seqlengths(seqinfo2) <- seqlengths(s

[2022-10-27 16:59] hpages opened #50 "Add 'replace' argument to forgeBSgenomeDataPkg()"
When trying to forge a new BSgenome data package with `forgeBSgenomeDataPkg()`, the user might sometimes perform several attempts before a successful `forgeBSgenomeDataPkg()` run (typically with some adjustments to their seed file between each attempt). However, before trying `forgeBSgenomeDataPkg()` again, the user is expected to _manually_ remove the package folder created by the previous attemp

[2022-10-27 17:37] hpages commented on #39
Hmm.. interesting. We need to understand what's going on. Remember that `all.equal(seqinfo1, seqinfo2)` was reporting only one little difference between the two objects: an `NA` in `seqinfo2@seqlengths` not present in `seqinfo1@seqlengths`.

I just used your `fasta_to_sorted_2bit_for_Dog10K_Boxer_Tasha.R` script and `BSgenome.Cfamiliaris.NCBI.Dog10KBoxerTasha-seed` seed file to forge **BSgenome.Cf

[2022-10-27 19:45] Priceless-P commented on #39
It works now.

This was what I needed to do. Thanks!

[2022-10-27 20:08] Priceless-P commented on #50
Hi @hpages, can I work on this issue?

[2022-10-27 20:08] hpages commented on #39
Glad you were able to sort this out.

PR #49 merged. Thanks for your work!

Now that you've completed all the tasks in your group, feel free to choose your next task among the "Additional tasks" listed at the bottom of https://github.com/Bioconductor/BSgenomeForge/wiki/List-of-contribution-tasks-for-the-Outreachy-application-period I'll try to add a few more tasks there as time allows.

[2022-10-27 20:08] #39 closed, assigned to Priceless-P

[2022-10-28 08:58] Simplecodez commented on #40
Please assign me to this task.

[2022-10-28 15:11] Simplecodez commented on #40
Thank you

[2022-10-28 20:50] Simplecodez commented on #40
I have been able to run ```forgeBSgenomeDataPkg()```, ```R CMD build```, ```R CMD check``` with 3 notes and ```R CMD INSTALL``` successfully and thus have created a PR. I will be anticipating your feedback.
Thank you.

[2022-10-29 18:19] Priceless-P commented on #50
@hpages,  please how do I check if `replace` is set to `TRUE`?
I tried  ```if (file.exists(pkgdir) && isTRUE(replace)) ``` and also ```if (file.exists(pkgdir) && replace == TRUE) ``` but none worked.

Also, I get this error when I do `?forgeBSgenomeDataPkg()`, after I edited `BSgenome/man/BSgenomeForge.Rd`
[code]

[2022-10-31 05:05] hpages commented on #40
Hi @Simplecodez ,

You're `BSgenome.Xtropicalis.UCSC.xenTro10-seed` file looks good. Nice work!

Here's some important reading about package templates and the `PkgExamples` field: https://github.com/Bioconductor/BSgenome/pull/46#issuecomment-1291424086  Don't hesitate to ask if you have any questions.

Next task in your group is #41. It's still about Frog! :frog:  Whenever you are ready, go there

[2022-10-31 05:05] #40 closed, assigned to Simplecodez

[2022-10-31 05:41] Simplecodez commented on #40
Okay, thank you sir

[2022-10-31 05:42] Simplecodez commented on #41
Please assign me to this task.
Thank you

[2022-10-31 05:52] hpages commented on #50
Hi @Priceless-P ,

Note that `forgeBSgenomeDataPkg()` is an S4 generic function so we need to add the new `replace` argument to the generic function and all its methods (`BSgenome/R/BSgenomeForge.R` defines 3 `forgeBSgenomeDataPkg()` methods). I suggest that you add the new argument in 4th position i.e. between `destdir` and `verbose`. The argument's default value (`FALSE`) should be the same ever

[2022-10-31 05:55] hpages commented on #41
Done.

Don't forget to record #40 on Outreachy.

[2022-10-31 06:22] Simplecodez commented on #41
I will do that sir.
Thank you

[2022-10-31 08:28] Simplecodez commented on #41
Sir, I have been able to create the ```UCB_Xtro_10.0.sorted.2bit``` file and forged the package, but when I run ```R CMD build BSgenome.Xtropicalis.NCBI.UCB_Xtro_10.0```, I get the error below.
[code]

[2022-10-31 08:31] Simplecodez commented on #41
Below is the content of my seed file:

[code]

[2022-10-31 13:28] Simplecodez commented on #41
I tried changing the name of the seed file to ```BSgenome.Xtropicalis.NCBI.10.0-seed``` and changing the package name to ```BSgenome.Xtropicalis.NCBI.10.0``` in the seed but I dont know if the name follows the NCBI standard. Nonetheless, it was able to build successfully but when i ran ``` R CMD check``` on the tarball produced from building, i got the error below:
[code]

[2022-10-31 15:01] hpages commented on #41
Hi @Simplecodez

The error you got earlier (`Malformed package name`) was because you had underscores (`_`) in the name of the package: `BSgenome.Xtropicalis.NCBI.UCB_Xtro_10.0`. R does not allow that. In this case, you can just remove the underscores from the package name. This will lead to the following name: `BSgenome.Xtropicalis.NCBI.UCBXtro10.0`.

Note that we try to have the last part in the

[2022-10-31 15:03] Priceless-P commented on #50
This is what i currently have
[code]
This is what I get
[code]

[2022-10-31 15:16] Priceless-P commented on #50
I posted a question 5mins ago then I deleted it.  It took me going through my question to figure out what my mistake was 😂.  Let me correct my errors and  try again. Hopefully, it works this time.

And the `?forgeBSgenomeDataPkg()` works fine now.

[2022-10-31 16:28] hpages commented on #50
This happens quite often. The simple fact of going thru the process of formulating a precise question forces us to re-examine what we did, and that often leads us to see things that we missed before. So yeah, it's not too surprising that you were able to figure out what your mistake was. :smiley:

2 notes about this:
[code]
There's no reason to use `file.exists()` in one place and `dir.exists()` i

[2022-10-31 16:29] Simplecodez commented on #41
Yes, it did. I renamed it to
```BSgenome.Xtropicalis.NCBI.UCBXtro10.0``` and changed "c" to "C" in ```genome[["chr1"]]```
Thank you

[2022-10-31 16:30] Simplecodez commented on #41
Now everything works fine.
I have also created a PR.
Thank you

[2022-10-31 17:36] hpages commented on #41
Great!

Here are a few things that I'd like you to try.

1. After loading the **BSgenome.Xtropicalis.NCBI.UCBXtro10.0** package, do `seqinfo(Xtropicalis)`. This should return exactly the same thing as `getChromInfoFromNCBI("UCB_Xtro_10.0", as.Seqinfo=TRUE)`. You can check this with:
[code]

2. Let's take a closer look at the circularity flags of the sequences in the `Xtropicalis` object. You can e

[2022-10-31 18:20] Simplecodez commented on #41
Alright sir. Let me try them out now

[2022-10-31 18:22] hpages commented on #41
I made a small correction above. I replaced `getChromInfoFromUCSC("UCB_Xtro_10.0", as.Seqinfo=TRUE)` with `getChromInfoFromNCBI("UCB_Xtro_10.0", as.Seqinfo=TRUE)`. `UCB_Xtro_10.0` is the name of an NCBI assembly, not of a UCSC genome, so we need to use `getChromInfoFromNCBI()`, not `getChromInfoFromUCSC()`.

[2022-10-31 19:20] Simplecodez commented on #41
Noted sir

[2022-10-31 20:18] Priceless-P commented on #50
if (replace) {
                unlink(pkgdir, recursive=TRUE)
                dir.create(pkgdir)
            } else {
                stop("directory ", pkgdir, " exists. ",
                     "Use replace=TRUE to replace it.")
            }
        }

@hpages. You are absolutely right. This is a better way to do it.

But I am still missing something. This is my code
[code]
I still get this erro

[2022-10-31 21:46] hpages commented on #43
Hi @kakopo ,

Please take a look at what I posted [here](https://github.com/Bioconductor/BSgenome/issues/41#issuecomment-1297438280) this morning for an updated (and simplified) version of what I'd like you to try. You'll need to adapt slightly to make it work for `felCat9`/`Felis_catus_9.0`. Let me know how it goes.

**Short answer:** `match()` does that.

**Detailed answer:**

Your `fasta_to_sor

[2022-10-31 21:49] hpages commented on #50
Why are you creating the `pkgdir` folder? The `Biobase::createPackage()` function takes care of creating that folder.

[2022-10-31 21:55] hpages commented on #50
BTW I'm surprised that the second time you called `forgeBSgenomeDataPkg()` above (i.e. with `replace=TRUE`) you got that error. It seems that you should have gotten the old misleading error message instead i.e. the one coming from `Biobase::createPackage()`, which doesn't say exactly the same thing as what you're showing above.

[2022-10-31 23:09] Priceless-P commented on #50
I removed `dir.create(pkgdir)` built, and installed it again and I still get the same error. Let me create a PR so you see the entire code.

I know right?  🤷🏻‍♀️

[2022-11-01 00:28] hpages commented on #50
When you call `forgeBSgenomeDataPkg("BSgenome.Cfamiliaris.UCSC.canFam6-seed")` or `forgeBSgenomeDataPkg("BSgenome.Cfamiliaris.UCSC.canFam6-seed", replace=TRUE)`, you're calling the function on an object of type character, so the method for character objects will be used. Note that this method itself will call `forgeBSgenomeDataPkg()` again but this time on a list object (`y`). The problem is that

[2022-11-01 08:31] Priceless-P commented on #50
Ohhh. I think I just saw what you mean. Thank you for pointing that out. It's working fine now.

Also, is my documentation for the `replace` satisfactory? Do I need to provide a more detailed explanation about it?

[2022-11-01 09:28] Simplecodez commented on #41
Good day sir, when i ran the codes in 1-3 they worked well.
when I ran
[code]

I got this:
[code]

but when I ran
[code]
I got this error:
[code]

[2022-11-01 09:40] Simplecodez commented on #41
This is the whole result from running 1-4

[code]

[2022-11-02 00:02] hpages commented on #50
Yes, it's satisfactory. What this argument does is very simple so explanation should be short and straight to the point. See #53 for more comments. Thanks!

[2022-11-02 00:06] hpages commented on #43
How are things going @kakopo? I've not heard from you for a few days so I'm just checking. Any blocker or question? Don't hesitate. Thanks!

[2022-11-02 00:45] hpages commented on #41
Perfect. Everything looks as expected. Even the error you got with your last call to `getSeq(Xtropicalis, transcript_ranges)`.

It's important to understand that you got this error because the sequence names in `Xtropicalis` use a different convention than the sequence names in `transcript_ranges`. The former uses the NCBI names and the latter the UCSC names. This is a frequent situation in biocin

[2022-11-02 02:09] Priceless-P commented on #50
Okay. Thank you @hpages 😊

[2022-11-02 02:20] hpages commented on #50
Should I take a second look at the PR?

In the meantime please take a look at my long comment [here](https://github.com/Bioconductor/BSgenome/issues/43#issuecomment-1297724785) where I try to explain how the code in the `fasta_to_sorted_2bit_for_Felis_catus_9.0.R` script works. The code in your `fasta_to_sorted_2bit_for_Dog10K_Boxer_Tasha.R` script works the same way so my explanations apply to yo

[2022-11-02 02:58] Priceless-P commented on #50
I will certainly go through it and come back to you with questions if anything is unclear.

[2022-11-02 08:45] Simplecodez commented on #41
Yes sir, it works now. I just tried it.
Below is the result I got:
[code]
I think everything is working okay now.
Thank you

Alright sir, I will.
Thank you.

[2022-11-02 14:38] hpages commented on #41
Great. I'm closing this.

Please remember to record your contribution on Outreachy.

We're approaching the end of the application period so there's not much time left. If you want to work on a last task, please choose one from the "Additional tasks" section at the bottom of [this page](https://github.com/Bioconductor/BSgenomeForge/wiki/List-of-contribution-tasks-for-the-Outreachy-application-perio

[2022-11-02 14:38] #41 closed, assigned to Simplecodez

[2022-11-02 14:42] Simplecodez commented on #41
Alright, sir. Thank you. I am preparing my final application current.

[2022-11-02 14:53] kakopo commented on #43
Hi @hpages. Things are going okay. I've just fallen a bit ill so moving in and out of the hospital has made me unable to put in my 100% in the last few days! Still, I'm having a slow but optimistic recovery so its back to business!
Earlier, I was focused on the task in issue #[72](https://github.com/Bioconductor/GenomeInfoDb/issues/72) but I've been making slow progress. I shall direct my queries

[2022-11-02 19:26] hpages commented on #43
Hi @kakopo ,

I'm so sorry to hear that you got ill. I hope it's nothing too serious and that you'll recover quickly and fully.

Not totally unexpected. `makeTxDbFromUCSC()` retrieves the data it needs to create the TxDb object by querying the UCSC's MySQL server (it uses the **RMariaDB** package for that). Sometimes this retrieval fails because of connectivity problems that are outside our contro

[2022-11-02 20:36] hpages commented on #50
Ok so no question on how the code in `fasta_to_sorted_2bit_for_Dog10K_Boxer_Tasha.R` works? Let's close this then.

Don't forget to record your contribution on Outreachy, thanks!

[2022-11-02 20:36] #50 closed, assigned to Priceless-P

[2022-11-02 22:25] kakopo commented on #43
Awesome! I tried this out and everything worked out. I was a bit floored since the error message was different from what I'd expected, but harmonizing the sequence names did the trick. I can imagine how frustrating this might be for a bioinformatics analyst.
I also ran `txdb <- makeTxDbFromUCSC("felCat9", tablename="ncbiRefSeq")` again and it returned output akin to `txdb <- makeTxDbFromUCSC("felC

[2022-11-03 03:18] hpages commented on #43
Great! I'm closing this.

Don't forget to record the completion of this task on Outreachy.

Now moving on to https://github.com/Bioconductor/GenomeInfoDb/issues/72 where I see that you have some questions for me. I'll answer there shortly.

[2022-11-03 03:18] #43 closed, assigned to kakopo

[2022-11-04 12:49] Priceless-P commented on #50
Not I don't. Your explanation was very clear.

Already did. Thank you!

[2022-11-16 09:00] WangxiaowuLab opened #54 "Help"
When I forge Brassica rapa BSgenome, I got the problem

Creating package in ./BSgenome.BRAD.BrapaV3.0
Copying '/43t/zhanglp/hic/bowtie2_index/Brapa_sequence.2bit' to './BSgenome.BRAD.BrapaV3.0/inst/extdata/single_sequences.2bit' ... Error in .copyTwobitFile(seqfile_name, seqs_srcdir, seqs_destdir, verbose = verbose) :
  FAILED
In addition: Warning message:
In file.create(to[okay]) :
  cannot creat

[2022-11-16 11:47] vjcitn commented on #54
See https://support.bioconductor.org/p/9136141/ ... the error you are reporting seems to relate to the operating system -- you may need to look at your folder permissions or preparation of the files to be written.

[2022-11-18 16:24] Guan06 opened #55 "Error using forgeBSgenomeDataPkg() to forge bacterial species not included registered_NCBI_assemblies() nor registered_UCSC_genomes()"
Hi,

I am trying to forge a data package for the bacteria I am working with (Bacteroides uniformis), however, when preparing seed file, in the field "genome", non of the close genome of the species could be find in either registered_NCBI_assemblies() nor registered_UCSC_genomes(). Any suggestion what could be done to bypass this error?

Many thanks and looking forward to your suggestions!

Best,
R

[2022-11-18 23:44] hpages commented on #55
Hi @Guan06 ,

For an unregistered genome, you _must_ specify the `seqnames` field in your seed file.

If the genome is registered in **GenomeInfoDb**, then you don't need to specify the `seqnames` field because, in this case, `forgeBSgenomeDataPkg()` will be able to fetch the sequence names for you. So the process of forging a BSgenome data package is just more convenient when the genome is regist

[2022-11-19 18:11] Guan06 commented on #55
Thank you Herve very much for your reply!

I added the filed @seqnames but the error message is still there.. below is the non-standard DESCRIPTION fields of the seed file that I made according to 2.2.3 in vignette:

organism: Bacteroides uniformis ATCC8492
common_name: Bacteroides uniformis
genome: Bacteroides uniformis
provider: NCBI
release_date: 2022/09/12
source_url: https://www.ncbi.nlm.nih.

[2022-11-19 21:26] hpages commented on #55
What error message? You never showed it.

I see that you have the following line in your seed file:
[code]
I'm not quite sure what you're trying to achieve with this, but, since you have the genomic sequences in a 2bit file (`ATCC8492.2bit`), you should not need to specify `ondisk_seq_format`.

H.

[2022-11-20 00:19] Guan06 commented on #55
Oh sorry.. it is the error saying that 'genome' is not included in registered_NCBI_assemblies() or registered_UCSC_genomes(); but after removing the 'ondisk_seq_format' field and rerun everything, the error message was gone.

Thank you again for your help!

Best,
Rui

[2022-11-20 00:19] #55 closed, assigned to nobody

[2022-11-24 03:07] hpages commented on #54
@zhanglp996 What system are you on? Can you please provide the output of your `sessionInfo()`? Note that the process of forging a BSgenome data package is only supported on Linux at the moment, as mentioned in the "How to forge a BSgenome data package" vignette.

Also it's better to ask this type of question on the Bioconductor support site at https://support.bioconductor.org/ (please make sure to

[2022-11-24 03:38] WangxiaowuLab commented on #54
Thank you very much!
I have solved the problem by changing another linux platform

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Bioconductor/BSgenome"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年

[2022-11-29 23:28] #54 closed, assigned to nobody